

@font-face {
  font-family: "blobb";   
  src: local("blobb"),
    url(../public/font/blobb.ttf) format("ttf");
}

h4{
  color: #873e23;
  font: 600;
  font-size: 15px !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../public/img/realBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  cursor: crosshair;
}


.theHands {
  width: 40%;
  justify-content: space-between; 
  display: table-caption;
  margin: 70px auto;
  color: #873e23;
}

.KylieHand{
  display: flex;
  position: absolute;
  margin-left: 25%;
  background: bisque;
  border-radius: 5%;
  width: 250px;
  padding: 30px;
  top:60%;
}

.GrammordHand{
  display: flex;
  position: absolute;
  margin-left: 72%;
  background: bisque;
  border-radius: 5%;
  top:41%;
  width: 250px;
  height: 180px;
  padding: 30px;

}

.TitleGame{
  margin-top: 60px;
  font-size: 36px;
  font-family: "blobb";
  color: #873e23;
  font-weight: 600;
  justify-content: center;
  display: flex;
  height: 180px;

}

.winPosition{
  font-size: 25px;
}

img:hover{
  animation: pulse 1s infinite;
  animation-timing-function: linear; 
}

button.playButton{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 80px;
}

.playButton{
  border-radius: 10px;
  font-family: 'blobb';
  color:#873e23;
  font-size: 20px;
  background-color: bisque;
  border-color: bisque;
  margin-left:45%;
}

.playButton:hover{
  transform: scale(1.33);
  cursor: grab;
}
.alert{
  height: 100vh;
}
.Kylie{
  background-image: url(../public/img/Kylie.png) !important;
  background-repeat: no-repeat ;
  height: 200px;
}

.textSlideFirstStep{
  animation-name: animate-slide-left;
  animation-delay: 1.8s;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.Parasite{
  background-image: url(../public/img/parasite.png) !important;
  background-repeat: no-repeat ;
  height: 100px;
  transform: scale(1.2);
  margin-top: 100px;
  margin-left:20px;
}

.textSlideSecondStep{
  animation-name: animate-slide-left;
  animation-delay: 1.8s;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

.Grammord{
  background-image: url(../public/img/grammord.png) !important;
  background-repeat: no-repeat ;
  height: 100%;
  animation: shake 0.5s;
  margin-top:25px;
  transform: scale(2);
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

.textSlidethirdStep{
  animation-name: animate-slide-left;
  animation-delay: 1.8s;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-delay: 5s;
  animation-fill-mode: backwards;
}

.displayBox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.firstStep{
  background-color: #fcdbae;
  padding: 15px;
  border-radius: 25px;
  width:25%;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-delay: .5s;
  animation-fill-mode: backwards;
  animation-name: animate-pop;
}

.secondStep{
  background-color: #f9da7f;
  padding: 15px;
  border-radius: 25px;
  width:25%;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-delay: 2s;
  animation-fill-mode: backwards;
  animation-name: animate-pop;
}

.thirdStep{
  background-color: #ff6b3e;
  padding: 15px;
  border-radius: 25px;
  width:25%;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-delay: 4s;
  animation-fill-mode: backwards;
  animation-name: animate-pop;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2);}
  100% { transform: scale(1); }
  }

  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes animate-slide-left {
    0% {
      opacity: 0;
      transform: translate(-40px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }